.meals {
  &-card__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: center;
    @media screen and (max-width: 960px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
    @media screen and (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
  padding: 0 100px;
}
