.products {
  padding: 0 100px;
  &__title {
    font-size: 60px;
    font-weight: 400;
    &-part {
      color: #00897b;
    }
  }
  &-card__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
  }
}
