.categoryСard {
  box-shadow: -1px 5px 10px -1px rgb(5, 55, 84);
  padding: 4px;
  &__title {
    font-size: 18px;
    font-weight: 100;
  }
  &__link {
    color: #ffab40;
    font-weight: 200;
    font-size: 13px;
  }
  &__wrapper {
    margin-top: 50px;
  }
}
