.movies-card {
  &__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
  }
  img {
    width: 100%;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
  &__category {
    font-size: 17px;
    font-weight: 600;
  }
  &__desc {
    font-size: 18px;
    font-weight: 300;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    color: rgb(184, 199, 16);
    font-weight: 400;
  }
}
.movies__picture {
  height: 200px;
  object-fit: cover;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
