.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 228, 228);
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;

  &-svg {
    width: 200px;
  }
  &__text {
    text-align: center;
    margin-left: 60px;
    font-size: 30px;
    font-weight: 600;
  }
}
