.header {
  &__title {
    color: white;
    font-size: 26px;
    font-weight: 200;
    @media screen and (max-width: 960px) {
      font-size: 22px;
    }
    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }

  &__wrap {
    background-color: #455a64;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;

    @media screen and (max-width: 960px) {
      padding: 10px 20px;
    }
  }

  &-nav__input {
    cursor: pointer;
    transform: scale(1.5);
  }

  &-nav__item {
    list-style: none;
    cursor: pointer;
  }
  &-nav__list {
    display: flex;
    gap: 50px;
    font-size: 20px;
    @media screen and (max-width: 960px) {
      gap: 40px;
      font-size: 18px;
    }
    @media screen and (max-width: 768px) {
      gap: 30px;
      font-size: 16px;
    }
  }
}
