.header {
  &__title {
    color: white;
    font-size: 26px;
    font-weight: 200;
  }

  &__wrap {
    background-color: #455a64;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
  }

  &-nav__input {
    cursor: pointer;
    transform: scale(1.5);
  }

  &-nav__item {
    list-style: none;
    cursor: pointer;
  }
  &-nav__list {
    display: flex;
    gap: 50px;
    font-size: 20px;
  }
}
