.header-form {
  text-align: center;
  margin-top: 15px;
  &__input {
    width: 650px;
    border: transparent;
  }
  &__btn {
    background-color: #26a69a;
    color: whitesmoke;
    padding: 10px 10px;
    border-radius: 2px;
  }
  &__line {
    margin-top: 20px;
    max-width: 750px;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 0 auto;
  }
}
