.header-form {
  text-align: center;
  margin-top: 15px;
  &__input {
    border: transparent;
    max-width: 650px;
    background: rgb(233, 231, 231);
    background-image: url("/iconOfSearch.svg");
    background-repeat: no-repeat;
    background-position: 16px center;
    border-radius: 8px;
    padding: 16px;
    width: 655px;
    height: 48px;
    border: none;
    outline: none;
    flex: 1;
  }
  &__btn {
    background-color: #26a69a;
    color: whitesmoke;
    padding: 10px 10px;
    border-radius: 10px;
  }

  &__line {
    margin-top: 20px;
    max-width: 750px;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 0 auto;
  }
}
