.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 15px;
}

.content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.2;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  flex: 1;
}
ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  color: inherit;
  font-size: inherit;
  background: none;
  border: none;
}

select {
  color: inherit;
  appearance: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
}
